<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/ashraf/Documents/uiAutomationEnterpriseProject">

        <parameter name="browser" value="chrome"></parameter>

        <classes>
            <class name="loginTest.ValidLoginTest">
                <methods>
                    <include name="verifyValidSignIn"/>
                    <include name="verifyReserveVehicle"/>
                </methods>
            </class>
            <class name="catalogPage.CatalogPageTest">
                <methods>
                    <include name="verifyCatalogRentTab"/>
                    <include name="verifyCatalogBuyTab"/>
                    <include name="verifyCatalogShareTab"/>
                    <include name="verifyCatalogLearnTab"/>
                    <include name="verifyCatalogLocationsTab"/>
                    <include name="verifyCatalogForBusinessTab"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>